<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868576755702-0bhruq0mlobgh1tvj0fa3gitvosunfqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868576755702-0bhruq0mlobgh1tvj0fa3gitvosunfqt</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzmUewvVIlQReeyPGL3sQYMZa7m4kVjA</string>
	<key>GCM_SENDER_ID</key>
	<string>868576755702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewcrew</string>
	<key>PROJECT_ID</key>
	<string>brewcrew-ab740</string>
	<key>STORAGE_BUCKET</key>
	<string>brewcrew-ab740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868576755702:ios:7a748990c6d714df2951d7</string>
	<key>DATABASE_URL</key>
	<string>https://brewcrew-ab740.firebaseio.com</string>
</dict>
</plist>